.product-form-container {
  min-width: 400px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

mat-dialog-content {
  padding: 20px;
}

mat-dialog-actions {
  padding: 10px 20px;
}

.product-form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px 24px;
}
